In [14]:
import pandas as pd

#definisco la stringa URL dove risiede il CSV
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

#aggiungo i nomi delle colonne
column_names = ["sepal_lenght", "sepal_width", "petal_length", "petal_width", "species"]
iris = pd.read_csv(url, names=column_names) # iris e il dataframe

print(iris)
display(iris)

print(iris.shape) #restituisce numero di righe e colonne
print(iris.describe()) #restituisce informazioni statistiche di base

     sepal_lenght  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

     sepal_lenght  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

(150, 5)
       sepal_lenght  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [18]:
print(iris["species"].value_counts()) #contato quante righe per ogni specie

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [21]:
import pandas as pd 
url = "https://go.microsoft.com/fwlink/?LinkID=521962" 
manufacturing = pd.read_excel(url) 
print(manufacturing)

              Segment                   Country    Product Discount Band  \
0          Government                    Canada  Carretera           NaN
1          Government                   Germany  Carretera           NaN
2           Midmarket                    France  Carretera           NaN
3           Midmarket                   Germany  Carretera           NaN
4           Midmarket                    Mexico  Carretera           NaN
..                ...                       ...        ...           ...
695    Small Business                    France   Amarilla          High
696    Small Business                    Mexico   Amarilla          High
697        Government                    Mexico    Montana          High
698        Government                    Canada      Paseo          High
699  Channel Partners  United States of America        VTT          High

     Units Sold  Manufacturing Price  Sale Price  Gross Sales  Discounts  \
0        1618.5                    3          20      32370.0       0.00
1        1321.0                    3          20      26420.0       0.00
2        2178.0                    3          15      32670.0       0.00
3         888.0                    3          15      13320.0       0.00
4        2470.0                    3          15      37050.0       0.00
..          ...                  ...         ...          ...        ...
695      2475.0                  260         300     742500.0  111375.00
696       546.0                  260         300     163800.0   24570.00
697      1368.0                    5           7       9576.0    1436.40
698       723.0                   10           7       5061.0     759.15
699      1806.0                  250          12      21672.0    3250.80

         Sales      COGS    Profit       Date  Month Number Month Name  Year
0     32370.00   16185.0  16185.00 2014-01-01             1    January  2014
1     26420.00   13210.0  13210.00 2014-01-01             1    January  2014
2     32670.00   21780.0  10890.00 2014-06-01             6       June  2014
3     13320.00    8880.0   4440.00 2014-06-01             6       June  2014
4     37050.00   24700.0  12350.00 2014-06-01             6       June  2014
..         ...       ...       ...        ...           ...        ...   ...
695  631125.00  618750.0  12375.00 2014-03-01             3      March  2014
696  139230.00  136500.0   2730.00 2014-10-01            10    October  2014
697    8139.60    6840.0   1299.60 2014-02-01             2   February  2014
698    4301.85    3615.0    686.85 2014-04-01             4      April  2014
699   18421.20    5418.0  13003.20 2014-05-01             5        May  2014

[700 rows x 16 columns]

In [35]:
import os
import dotenv
import sqlalchemy
import pandas as pd

#carico il file di configurazione
#dotenv.load_dotenv("config_env.txt")
dotenv.load_dotenv(override = True, dotenv_path = "config_env.txt") #caricamento del file .env

#recupero i dati al suo interno e li inserisco dentro le variabile nello script
username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

print("username e uguale a:", username)

#costruire la conessione (stringa)
connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"

try:
    #provo a creare un motore di connessione
    db_engine = sqlalchemy.create_engine(connection_string)
    #mi provo a collegare al database
    print("sono collegato al database!")
    query = "SELECT * FROM dimproduct"  # stringa che contiene un'interrogazione SQL
    tabella = pd.read_sql(query, db_engine) # utilizziamo pandas per leggere il result set del mio statement SQL
    print(tabella)
    display (tabella)

    query_customer = "SELECT * FROM dimcustomer"
    customer_df = pd.read_sql(query_customer, db_engine)

    display(customer_df.head())
    print(customer_df.shape)
    df_condizione = customer_df.loc[customer_df["MaritalStatus"] == "M"]
    display(df_condizione)

    #casa de proprieta
    df_casa_proprieta = customer_df.loc[customer_df["HouseOwnerFlag"] == "1"]
    display(df_casa_proprieta)


except Exception as e:
    # se non ci riesco lancio un eccezione 
    print("Errore di connessione al db")

username e uguale a: studente_dapt
sono collegato al database!
     ProductKey ProductAlternateKey  ProductSubcategoryKey  \
0             1             AR-5381                    NaN
1             2             BA-8327                    NaN
2             3             BE-2349                    NaN
3             4             BE-2908                    NaN
4             5             BL-2036                    NaN
..          ...                 ...                    ...
601         602             BB-8107                    5.0
602         603             BB-9108                    5.0
603         604          BK-R19B-44                    2.0
604         605          BK-R19B-48                    2.0
605         606          BK-R19B-52                    2.0

    WeightUnitMeasureCode SizeUnitMeasureCode     EnglishProductName  \
0                    None                None        Adjustable Race
1                    None                None           Bearing Ball
2                    None                None        BB Ball Bearing
3                    None                None  Headset Ball Bearings
4                    None                None                  Blade
..                    ...                 ...                    ...
601                     G                None      ML Bottom Bracket
602                     G                None      HL Bottom Bracket
603                    LB                  CM     Road-750 Black, 44
604                    LB                  CM     Road-750 Black, 48
605                    LB                  CM     Road-750 Black, 52

            SpanishProductName           FrenchProductName  StandardCost  \
0                                                                    NaN
1                                                                    NaN
2                                                                    NaN
3                                                                    NaN
4                                                                    NaN
..                         ...                         ...           ...
601         Eje de pedalier GM          Axe de pédalier ML         44.95
602         Eje de pedalier GA          Axe de pédalier HL         53.94
603  Carretera: 750, negra, 44  Vélo de route 750 noir, 44        343.65
604  Carretera: 750, negra, 48  Vélo de route 750 noir, 48        343.65
605  Carretera: 750, negra, 52  Vélo de route 750 noir, 52        343.65

     FinishedGoodsFlag  ...                 ChineseDescription  \
0                    0  ...                               None
1                    0  ...                               None
2                    0  ...                               None
3                    0  ...                               None
4                    0  ...                               None
..                 ...  ...                                ...
601                  1  ...                      铝合金车圈；大直径脚蹬轴。
602                  1  ...                         铝合金车圈和空心轴。
603                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
604                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
605                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。

                                     ArabicDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601  فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...
602             فناجين من سبيكة الألومنيوم ومحور أجوف.
603  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
604  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
605  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...

                                     HebrewDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601           כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.
602               כיסויים מסגסוגת אלומיניום וציר חלול.
603  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
604  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
605  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...

                                       ThaiDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601              ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่
602                   ดุมอลูมิเนียมอัลลอยด์และเพลากลวง
603  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
604  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
605  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...

                                     GermanDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601  Außenringe aus Aluminiumlegierung; Radachse mi...
602  Außenringe aus Aluminiumlegierung und hohle Ac...
603  Ein Erwachsenenrad für Einsteiger; bietet Komf...
604  Ein Erwachsenenrad für Einsteiger; bietet Komf...
605  Ein Erwachsenenrad für Einsteiger; bietet Komf...

                                   JapaneseDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601                               アルミニウム合金カップ、大径スピンドル。
602                              アルミニウム合金カップとホロー アクスル。
603  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
604  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
605  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...

                                    TurkishDescription  StartDate EndDate  \
0                                                 None 2003-07-01     NaT
1                                                 None 2003-07-01     NaT
2                                                 None 2003-07-01     NaT
3                                                 None 2003-07-01     NaT
4                                                 None 2003-07-01     NaT
..                                                 ...        ...     ...
601  Alüminyum alaşımı orta göbekler; geniş çaplı mil. 2013-07-01     NaT
602    Alüminyum alaşımı orta göbekler ve içi boş aks. 2013-07-01     NaT
603  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT
604  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT
605  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT

      Status
0    Current
1    Current
2    Current
3    Current
4    Current
..       ...
601  Current
602  Current
603  Current
604  Current
605  Current

[606 rows x 36 columns]

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,None,Eugene,L,Huang,0,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
3,11003,11,AW00011003,None,Christy,None,Zhu,0,1973-08-14,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,None,1 (11) 500 555-0162,2010-12-29,5-10 Miles
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,0,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles

(18484, 29)

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
7,11007,40,AW00011007,None,Marco,None,Mehta,0,1969-11-06,M,...,Professional,Profesional,Cadre,1,2,942 Brook Street,None,1 (11) 500 555-0126,2011-01-09,0-1 Miles
11,11011,22,AW00011011,None,Curtis,None,Lu,0,1969-05-03,M,...,Professional,Profesional,Cadre,1,4,1224 Shoenic,None,1 (11) 500 555-0117,2010-12-30,10+ Miles
12,11012,611,AW00011012,None,Lauren,M,Walker,0,1979-01-14,M,...,Management,Gestión,Direction,1,2,4785 Scott Street,None,717-555-0164,2013-03-16,1-2 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18476,29476,147,AW00029476,None,Elizabeth,None,Bradley,0,1964-12-30,M,...,Manual,Obrero,Ouvrier,0,1,Nonnendamm 2,None,1 (11) 500 555-0177,2011-07-21,0-1 Miles
18477,29477,253,AW00029477,None,Neil,N,Ruiz,0,1965-01-02,M,...,Manual,Obrero,Ouvrier,0,1,P.O. Box 9178,None,1 (11) 500 555-0114,2013-06-18,1-2 Miles
18479,29479,209,AW00029479,None,Tommy,L,Tang,0,1969-06-30,M,...,Clerical,Administrativo,Employé,1,0,"111, rue Maillard",None,1 (11) 500 555-0136,2012-09-04,0-1 Miles
18482,29482,179,AW00029482,None,Clayton,None,Zhang,0,1964-09-01,M,...,Clerical,Administrativo,Employé,1,0,"1080, quai de Grenelle",None,1 (11) 500 555-0137,2012-09-18,0-1 Miles
18483,29483,217,AW00029483,None,Jésus,L,Navarro,0,1965-06-06,M,...,Clerical,Administrativo,Employé,1,0,"244, rue de la Centenaire",None,1 (11) 500 555-0141,2012-09-09,0-1 Miles

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,0,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles
5,11005,22,AW00011005,None,Julio,None,Ruiz,0,1976-08-01,S,...,Professional,Profesional,Cadre,1,1,7305 Humphrey Drive,None,1 (11) 500 555-0151,2010-12-30,5-10 Miles
6,11006,8,AW00011006,None,Janet,G,Alvarez,0,1976-12-02,S,...,Professional,Profesional,Cadre,1,1,2612 Berry Dr,None,1 (11) 500 555-0184,2011-01-24,5-10 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18478,29478,269,AW00029478,None,Darren,D,Carlson,0,1964-11-21,S,...,Clerical,Administrativo,Employé,1,0,5240 Premier Pl.,None,1 (11) 500 555-0132,2013-06-26,0-1 Miles
18479,29479,209,AW00029479,None,Tommy,L,Tang,0,1969-06-30,M,...,Clerical,Administrativo,Employé,1,0,"111, rue Maillard",None,1 (11) 500 555-0136,2012-09-04,0-1 Miles
18480,29480,248,AW00029480,None,Nina,W,Raji,0,1977-05-06,S,...,Clerical,Administrativo,Employé,1,0,9 Katherine Drive,None,1 (11) 500 555-0146,2013-07-17,0-1 Miles
18482,29482,179,AW00029482,None,Clayton,None,Zhang,0,1964-09-01,M,...,Clerical,Administrativo,Employé,1,0,"1080, quai de Grenelle",None,1 (11) 500 555-0137,2012-09-18,0-1 Miles
18483,29483,217,AW00029483,None,Jésus,L,Navarro,0,1965-06-06,M,...,Clerical,Administrativo,Employé,1,0,"244, rue de la Centenaire",None,1 (11) 500 555-0141,2012-09-09,0-1 Miles

In [33]:
    #casa de proprieta
    df_casa_proprieta = customer_df.loc[customer_df["HouseOwnerFlag"] == "1"]
    display(df_casa_proprieta)

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,0,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles
5,11005,22,AW00011005,None,Julio,None,Ruiz,0,1976-08-01,S,...,Professional,Profesional,Cadre,1,1,7305 Humphrey Drive,None,1 (11) 500 555-0151,2010-12-30,5-10 Miles
6,11006,8,AW00011006,None,Janet,G,Alvarez,0,1976-12-02,S,...,Professional,Profesional,Cadre,1,1,2612 Berry Dr,None,1 (11) 500 555-0184,2011-01-24,5-10 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18478,29478,269,AW00029478,None,Darren,D,Carlson,0,1964-11-21,S,...,Clerical,Administrativo,Employé,1,0,5240 Premier Pl.,None,1 (11) 500 555-0132,2013-06-26,0-1 Miles
18479,29479,209,AW00029479,None,Tommy,L,Tang,0,1969-06-30,M,...,Clerical,Administrativo,Employé,1,0,"111, rue Maillard",None,1 (11) 500 555-0136,2012-09-04,0-1 Miles
18480,29480,248,AW00029480,None,Nina,W,Raji,0,1977-05-06,S,...,Clerical,Administrativo,Employé,1,0,9 Katherine Drive,None,1 (11) 500 555-0146,2013-07-17,0-1 Miles
18482,29482,179,AW00029482,None,Clayton,None,Zhang,0,1964-09-01,M,...,Clerical,Administrativo,Employé,1,0,"1080, quai de Grenelle",None,1 (11) 500 555-0137,2012-09-18,0-1 Miles
18483,29483,217,AW00029483,None,Jésus,L,Navarro,0,1965-06-06,M,...,Clerical,Administrativo,Employé,1,0,"244, rue de la Centenaire",None,1 (11) 500 555-0141,2012-09-09,0-1 Miles