# W10D1 - Pratica
## Slide 2

In [1]:
mat = [[0,  1,  2,  3,  4], [5,  6,  7,  8,  9], [10, 11, 12, 13, 14]]

In [2]:
mat[2][1]

11

## Slide 3

In [3]:
import math

In [4]:
math.cos(3.14)

-0.9999987317275395

In [5]:
math.factorial(10)

3628800

In [6]:
math.pi

3.141592653589793

## Slide 4

In [7]:
math.degrees(2 * math.pi)

360.0

In [8]:
help( math.degrees )

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

In [9]:
help( math.sin )

Help on built-in function sin in module math:

sin(x, /)
    Return the sine of x (measured in radians).

In [10]:
import numpy as np

In [11]:
mat

[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]

In [12]:
maty = np.array(mat)  # casting

In [13]:
type(maty)

numpy.ndarray

In [14]:
maty

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [15]:
int( maty[1, 3] )

8

## Slide 5

In [16]:
lst = [2000, 5500, 7200, 4320, 1280, 1900,
       2500, 3900, 6410, 8150, 7100, 5350]
lst = np.array(lst)

In [17]:
type(lst)

numpy.ndarray

In [18]:
lst.max()

np.int64(8150)

In [19]:
lst.min()

np.int64(1280)

In [20]:
filtro = lst > 4999
print(lst[filtro])

[5500 7200 6410 8150 7100 5350]

### Masking e condizioni di estrazione

In [21]:
numeri = [1, 2, 5, 10, 20]

In [22]:
numeri * 2

[1, 2, 5, 10, 20, 1, 2, 5, 10, 20]

In [23]:
"abc" * 3

'abcabcabc'

In [24]:
print(numeri)
a = 1 + 1
print(mat)

[1, 2, 5, 10, 20]
[[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]

In [25]:
numery = np.array(numeri)

In [26]:
numery / 2

array([ 0.5,  1. ,  2.5,  5. , 10. ])

In [27]:
numery * 2

array([ 2,  4, 10, 20, 40])

In [28]:
numery

array([ 1,  2,  5, 10, 20])

In [29]:
numery ** 10

array([             1,           1024,        9765625,    10000000000,
       10240000000000])

In [30]:
numery + 1000

array([1001, 1002, 1005, 1010, 1020])

In [31]:
numery >= 5

array([False, False,  True,  True,  True])

In [32]:
numery

array([ 1,  2,  5, 10, 20])

In [33]:
filtro = lst > 4999

In [34]:
filtro

array([False,  True,  True, False, False, False, False, False,  True,
        True,  True,  True])

In [35]:
lst

array([2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100,
       5350])

In [36]:
lst[2]

np.int64(7200)

In [37]:
lst[filtro]

array([5500, 7200, 6410, 8150, 7100, 5350])

In [38]:
filtro = lst < 3000
lst[filtro]

array([2000, 1280, 1900, 2500])

In [39]:
filtro = lst > 4999
lst_over_4999 = lst[filtro]
len(lst_over_4999)

6

In [40]:
np.sum(filtro)

np.int64(6)

In [41]:
lst.mean()

np.float64(4634.166666666667)

In [42]:
lst

array([2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100,
       5350])

## Slide 6

In [43]:
import pandas as pd

In [44]:
fatturati_dict = {1997: 12_000, 1998: 15_000,
                  1999: 20_000, 2000: 23_000, 2001: 25_000,
                  2002: 17_000, 2003: 14_000, 2004: 21_000}

fatturati_series = pd.Series([12_000, 15_000, 20_000, 
                              23_000, 25_000, 17_000, 14_000, 21_000], 
                              index=range(1997, 2005))

In [45]:
fatturati_dict

{1997: 12000,
 1998: 15000,
 1999: 20000,
 2000: 23000,
 2001: 25000,
 2002: 17000,
 2003: 14000,
 2004: 21000}

In [46]:
fatturati_series

1997    12000
1998    15000
1999    20000
2000    23000
2001    25000
2002    17000
2003    14000
2004    21000
dtype: int64

In [47]:
fatturati_series[1:4]

1998    15000
1999    20000
2000    23000
dtype: int64

In [48]:
fatturati_series.mean()

np.float64(18375.0)

## Slide 7

In [49]:
stipendi = np.array( [100, 200, 300, 400, 500,
                      600, 700, 800, 900, 1000] )

In [50]:
nuovi_stipendi = []
for stipendio in stipendi:
    nuovo_stipendio = stipendio * 2
    nuovo_stipendio = int(nuovo_stipendio)
    nuovi_stipendi.append(nuovo_stipendio)
print(nuovi_stipendi)

[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]

In [51]:
nuovi_stipendi = stipendi * 2
print(nuovi_stipendi)

[ 200  400  600  800 1000 1200 1400 1600 1800 2000]

In [52]:
type(nuovo_stipendio)

int

# W10D4 - Pratica
## Slide 2

In [53]:
%run "connessione_a_database.ipynb"

In [54]:
query = "SELECT * FROM dimproduct"
dimproduct = pd.read_sql(query, db_engine)

In [55]:
dimproduct.shape

(606, 36)

### Attributi e metodi
Ogni tipo di dato può avere (e in genere ha):
* **Attributi**: variabili interne all'oggetto che contengono valori relativi all'oggetto stesso
* **Metodi**: funzioni interne all'oggetto che operano sull'oggetto stesso

In [56]:
dimproduct.columns

Index(['ProductKey', 'ProductAlternateKey', 'ProductSubcategoryKey',
       'WeightUnitMeasureCode', 'SizeUnitMeasureCode', 'EnglishProductName',
       'SpanishProductName', 'FrenchProductName', 'StandardCost',
       'FinishedGoodsFlag', 'Color', 'SafetyStockLevel', 'ReorderPoint',
       'ListPrice', 'Size', 'SizeRange', 'Weight', 'DaysToManufacture',
       'ProductLine', 'DealerPrice', 'Class', 'Style', 'ModelName',
       'LargePhoto', 'EnglishDescription', 'FrenchDescription',
       'ChineseDescription', 'ArabicDescription', 'HebrewDescription',
       'ThaiDescription', 'GermanDescription', 'JapaneseDescription',
       'TurkishDescription', 'StartDate', 'EndDate', 'Status'],
      dtype='object')

In [57]:
dimproduct.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             606 non-null    int64
 1   ProductAlternateKey    606 non-null    object
 2   ProductSubcategoryKey  397 non-null    float64
 3   WeightUnitMeasureCode  282 non-null    object
 4   SizeUnitMeasureCode    253 non-null    object
 5   EnglishProductName     606 non-null    object
 6   SpanishProductName     606 non-null    object
 7   FrenchProductName      606 non-null    object
 8   StandardCost           397 non-null    float64
 9   FinishedGoodsFlag      606 non-null    int64
 10  Color                  606 non-null    object
 11  SafetyStockLevel       606 non-null    int64
 12  ReorderPoint           606 non-null    int64
 13  ListPrice              395 non-null    float64
 14  Size                   299 non-null    object
 15  SizeRange              606 non-null    object
 16  Weight                 282 non-null    float64
 17  DaysToManufacture      606 non-null    int64
 18  ProductLine            380 non-null    object
 19  DealerPrice            395 non-null    float64
 20  Class                  330 non-null    object
 21  Style                  301 non-null    object
 22  ModelName              397 non-null    object
 23  LargePhoto             606 non-null    object
 24  EnglishDescription     396 non-null    object
 25  FrenchDescription      396 non-null    object
 26  ChineseDescription     396 non-null    object
 27  ArabicDescription      396 non-null    object
 28  HebrewDescription      396 non-null    object
 29  ThaiDescription        396 non-null    object
 30  GermanDescription      396 non-null    object
 31  JapaneseDescription    396 non-null    object
 32  TurkishDescription     396 non-null    object
 33  StartDate              606 non-null    datetime64[ns]
 34  EndDate                200 non-null    datetime64[ns]
 35  Status                 406 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(5), object(24)
memory usage: 170.6+ KB

In [58]:
dimproduct.head(1)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [59]:
dimproduct.tail(1)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [60]:
dimproduct.sample(5)

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
359,360,BK-M68B-42,1.0,LB,CM,"Mountain-200 Black, 42","Montaña: 200, negra, 42","VTT 200 noir, 42",1105.81,1,...,适用于环境恶劣的野外骑乘。可应对各种比赛的完美赛车。使用与 Mountain-100 相同的...,لقيادة المحترفين في المناطق الريفية. دراجة مُث...,לרכיבה רצינית בשטחים נידחים. מתאימים לכל רמה ש...,สำหรับการขี่ในเส้นทางผจญภัย เหมาะที่สุดสำหรับ...,Mountainbike für Profis. Perfekt für alle Schw...,バック カントリーまたは全レベルの競技用で、Mountain-100 と同じ HL フレーム...,Gerçek arazi sürüşü. Tüm yarışma seviyeleri iç...,2012-07-01,2008-12-27,None
381,382,BK-R64Y-38,2.0,LB,CM,"Road-550-W Yellow, 38","Carretera: 550 para mujer, amarilla, 38","Vélo de route 550 -W - jaune, 38",713.08,1,...,使用的技术与我们所有的公路系列自行车完全相同，但车架尺寸专为女士设计。完美的全能自行车，可作...,ولها نفس التقنية المتوفرة في جميع دراجات سلسلة...,"טכנולוגיה זהה לזו המצוי באופני סדרת ""כביש"" שלנ...",เทคโนโลยีเดียวกับจักรยานรุ่น Road ทั้งหมด แต่ใ...,Dieselbe Technologie wie bei allen Rädern unse...,ロード シリーズの自転車と同じ技術を使用した女性用サイズのフレームで、ロードにも競技にも適し...,"""Yol serisi bisikletlerimizle aynı teknoloji, ...",2013-07-01,NaT,Current
283,284,FR-R38B-48,14.0,LB,CM,"LL Road Frame - Black, 48","Cuadro de carretera GB: negro, 48","Cadre de vélo de route LL - noir, 48",204.63,1,...,LL 车架提供了安全舒适的骑乘，经济实惠的铝制车架提供了卓越的避震功能。,يوفر الهيكل LL Frame قيادة آمنة ومريحة، مع توف...,"מסגרת ה- LL מספקת רכיבה בטוחה ונוחה ועם זאת, מ...",เฟรม LL ให้ความปลอดภัยและสบายขณะขับขี่ พร้อมทั...,Mit dem LL-Rahmen fahren Sie sicher und komfor...,LL フレームは、安全で快適に乗ることができ、値打ち価格のアルミニウム フレームで優れた衝撃...,"""LL Kadro güvenli ve konforlu sürüş sunar, değ...",2013-07-01,NaT,Current
466,467,GL-H102-L,20.0,None,None,"Half-Finger Gloves, L",,,9.16,1,...,完全填充、手指活动更自如、手掌材质更耐用、大小可调。,قفاز يد ذو حشوة كاملة، وثنية أصابع محسنة، وغطا...,"ריפוד מלא, אפשרות כיפוף משופרת לאצבעות, עמידות...",บุเต็มทุกส่วน เพิ่มการยืดหยุ่นของนิ้ว แผ่นฝ่าม...,"""Vollständig gepolstert, verbesserte Flexibili...",フル パディング、改良された指部分の伸縮性、耐久性のある手のひら部分、調整可能なはめ口。,"""Ful pedli, geliştirilmiş parmak esnekliği, da...",2013-07-01,NaT,Current
310,311,BK-R93R-44,2.0,LB,CM,"Road-150 Red, 44","Carretera: 150, roja, 44","Vélo de route 150 rouge, 44",2171.29,1,...,此自行车曾为赛车手夺冠立下汗马功劳。与 Adventure Works Cycles 专业赛...,إنها الدراجة التي يقودها الفائزون بسباقات الدر...,אופניים אלה משמשים את מנצחי התחרויות. לאופניים...,จักรยานคู่ใจของนักแข่งระดับแชมเปี้ยน ได้รับกา...,"""Dieses Fahrrad wird von Rennprofis gefahren. ...",レース ウィナーも愛用する機種です。Adventure Works Cycles プロフェッ...,"""Bu bisiklet yarışçılar tarafından kullanılmak...",2011-07-01,2007-12-28,None

### Attributi `.loc` e `.iloc`

In [61]:
dimproduct.loc[:, "Color"]

0         NA
1         NA
2         NA
3         NA
4         NA
       ...
601       NA
602       NA
603    Black
604    Black
605    Black
Name: Color, Length: 606, dtype: object

In [62]:
dimproduct["Color"]

0         NA
1         NA
2         NA
3         NA
4         NA
       ...
601       NA
602       NA
603    Black
604    Black
605    Black
Name: Color, Length: 606, dtype: object

In [63]:
dimproduct[10:20]

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
10,11,CR-7833,NaN,None,None,Chainring,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
11,12,CR-9981,NaN,None,None,Crown Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
12,13,CS-2812,NaN,None,None,Chain Stays,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
13,14,DC-8732,NaN,None,None,Decal 1,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
14,15,DC-9824,NaN,None,None,Decal 2,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
15,16,DT-2377,NaN,None,None,Down Tube,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
16,17,EC-M092,NaN,None,None,Mountain End Caps,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
17,18,EC-R098,NaN,None,None,Road End Caps,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
18,19,EC-T209,NaN,None,None,Touring End Caps,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
19,20,FE-3760,NaN,None,None,Fork End,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [64]:
dimproduct.loc[10:15, "StandardCost":"Color"]

    StandardCost  FinishedGoodsFlag  Color
10           NaN                  0  Black
11           NaN                  0     NA
12           NaN                  0     NA
13           NaN                  0     NA
14           NaN                  0     NA
15           NaN                  0     NA

In [65]:
dimproduct.loc[:, "Color"]

0         NA
1         NA
2         NA
3         NA
4         NA
       ...
601       NA
602       NA
603    Black
604    Black
605    Black
Name: Color, Length: 606, dtype: object

In [66]:
dimproduct.iloc[4:7, :5]

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode
4,5,BL-2036,NaN,None,None
5,6,CA-5965,NaN,None,None
6,7,CA-6738,NaN,None,None

In [67]:
dimproduct.iloc[120]

ProductKey                                                             121
ProductAlternateKey                                                LN-1224
ProductSubcategoryKey                                                  NaN
WeightUnitMeasureCode                                                 None
SizeUnitMeasureCode                                                   None
EnglishProductName                                              Lock Nut 7
SpanishProductName
FrenchProductName
StandardCost                                                           NaN
FinishedGoodsFlag                                                        0
Color                                                                   NA
SafetyStockLevel                                                      1000
ReorderPoint                                                           750
ListPrice                                                              NaN
Size                                                                  None
SizeRange                                                               NA
Weight                                                                 NaN
DaysToManufacture                                                        0
ProductLine                                                           None
DealerPrice                                                            NaN
Class                                                                 None
Style                                                                 None
ModelName                                                             None
LargePhoto               b'GIF89a\xf0\x00\x95\x00\xf7\x00\x00\x00\x00\x...
EnglishDescription                                                    None
FrenchDescription                                                     None
ChineseDescription                                                    None
ArabicDescription                                                     None
HebrewDescription                                                     None
ThaiDescription                                                       None
GermanDescription                                                     None
JapaneseDescription                                                   None
TurkishDescription                                                    None
StartDate                                              2003-07-01 00:00:00
EndDate                                                                NaT
Status                                                             Current
Name: 120, dtype: object

In [68]:
dimproduct.loc[:, "Color"].unique()

array(['NA', 'Black', 'Silver', 'Red', 'White', 'Blue', 'Multi', 'Yellow',
       'Grey', 'Silver/Black'], dtype=object)

In [69]:
dimproduct.loc[:, "Color"].value_counts()

Color
NA              254
Black           133
Red              63
Silver           52
Yellow           46
Blue             28
Multi            18
Silver/Black      7
White             4
Grey              1
Name: count, dtype: int64

## Slide 3

In [70]:
dimproduct["Weight"].max()

1050.0

In [71]:
filtro_righe = dimproduct["Weight"] > 100
filtro_colonne = ["ProductKey", "Weight"]
dimproduct.loc[filtro_righe, filtro_colonne]

     ProductKey  Weight
179         180   435.0
180         181   450.0
181         182   400.0
182         183   445.0
183         184   450.0
184         185   400.0
185         186   460.0
412         413   900.0
413         414   850.0
414         415   650.0
421         422  1050.0
422         423  1000.0
423         424   890.0
500         501   215.0
513         514   317.0
541         542   218.0
542         543   215.0
543         544   185.0
544         545   189.0
545         546   168.0
546         547   149.0
554         555   317.0
555         556   600.0
556         557   635.0
557         558   575.0
600         601   223.0
601         602   168.0
602         603   170.0

In [72]:
dimproduct.loc[:, "DealerPrice"].mean()

np.float64(448.5970597468353)

In [73]:
dimproduct["DealerPrice"].describe()

count     395.000000
mean      448.597060
std       503.225071
min         1.374000
25%        41.994000
50%       218.454000
75%       722.594900
max      2146.962000
Name: DealerPrice, dtype: float64

In [74]:
filtro_righe = [108, 206]
filtro_colonne = ["DealerPrice", "Weight", "Color", "ProductKey"]
dimproduct.loc[:, filtro_colonne]

     DealerPrice  Weight  Color  ProductKey
0            NaN     NaN     NA           1
1            NaN     NaN     NA           2
2            NaN     NaN     NA           3
3            NaN     NaN     NA           4
4            NaN     NaN     NA           5
..           ...     ...    ...         ...
601       60.744  168.00     NA         602
602       72.894  170.00     NA         603
603      323.994   19.77  Black         604
604      323.994   20.13  Black         605
605      323.994   20.42  Black         606

[606 rows x 4 columns]