In [1]:
"""Esercizio 1/2 
Il dataset pokemon.csv contiene un database di Pokémon, con dati quali nome, tipi di attacco, valori di attacco/difesa/eccetera, e se sono o meno leggendari. 
• Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna; 
• È verosimile che la prima colonna dovrebbe essere un indice? 
• Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano? 
• Se no, settare la prima colonna come indice.
"""
import os
import pandas as pd

# Carica il dataset
try:
    tabella = pd.read_csv(r"pokemon.csv")
    print("Dataset caricato con successo.")
except FileNotFoundError:
    print("Errore: File pokemon.csv non trovato. Assicurati che il file sia nella stessa directory dello script.")
    exit()
except Exception as e:
    print(f"Errore durante il caricamento del dataset: {e}")
    exit()

Errore: File pokemon.csv non trovato. Assicurati che il file sia nella stessa directory dello script.

In [31]:
#Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna; 
numero_righe, numero_colonne = tabella.shape
print(f"Il dataset contiene {numero_righe} righe e {numero_colonne} colonne." )
display(tabella)

print("\nNomi delle colonne:")
print(tabella.columns)


print(f"Dimensioni del dataset: {tabella.shape}")
print("\nPrime 5 righe del dataset:")
print(tabella.head())

Il dataset contiene 800 righe e 13 colonne.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Nomi delle colonne:
Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
Dimensioni del dataset: (800, 13)

Prime 5 righe del dataset:
   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False

In [ ]:
#È verosimile che la prima colonna dovrebbe essere un indice? Alla prima vista si pero, dopo possiamo osservare che ci sono numeri che si ripetono ma le righe non sono con dati uguali.

In [33]:
#Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano? 
print("\nConfronto tra l'indice di Pandas e la prima colonna:")
print(tabella.iloc[:, 0].head())  # Stampiamo i primi valori della prima colonna
print(tabella.index[:5])  # Stampiamo i primi valori dell'indice di Pandas

Confronto tra l'indice di Pandas e la prima colonna:
0    1
1    2
2    3
3    3
4    4
Name: #, dtype: int64
RangeIndex(start=0, stop=5, step=1)

In [35]:
# Se no, settare la prima colonna come indice.
prima_colonna = tabella.columns[0]
if not tabella.iloc[:, 0].equals(pd.Series(tabella.index)):
    print("\nLa prima colonna non combacia con l'indice automatico di Pandas. La impostiamo come indice.")
    tabella.set_index(prima_colonna, inplace=True)
    print("\nNuova anteprima con la prima colonna come indice:")
    print(tabella.head())
else:
    print("\nLa prima colonna combacia già con l'indice di Pandas. Nessuna modifica necessaria.")

La prima colonna non combacia con l'indice automatico di Pandas. La impostiamo come indice.

Nuova anteprima con la prima colonna come indice:
                    Name Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
#
1              Bulbasaur  Grass  Poison    318  45      49       49       65
2                Ivysaur  Grass  Poison    405  60      62       63       80
3               Venusaur  Grass  Poison    525  80      82       83      100
3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123      122
4             Charmander   Fire     NaN    309  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
#
1       65     45           1      False
2       80     60           1      False
3      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [37]:
display(tabella)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [23]:
tabella.reset_index(inplace=True)

In [25]:
display(tabella)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [39]:
"""Esercizio 2/2 
• Quali sono i Pokémon leggendari? 
• E quali sono i leggendari di tipo 1 Grass? 
• E leggendari di tipo 1 Ice o Fire? 
• Ordiniamo il dataset per la colonna Name; 
• Trasformiamo Name nell'indice; 
• Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
"""

#Quali sono i Pokémon leggendari?
leggendari = tabella[tabella['Legendary'] == True]
print("I Pokémon leggendari sono:")
print(leggendari)

I Pokémon leggendari sono:
                    Name    Type 1    Type 2  Total   HP  Attack  Defense  \
#
144             Articuno       Ice    Flying    580   90      85      100
145               Zapdos  Electric    Flying    580   90      90       85
146              Moltres      Fire    Flying    580   90     100       90
150               Mewtwo   Psychic       NaN    680  106     110       90
150  MewtwoMega Mewtwo X   Psychic  Fighting    780  106     190      100
..                   ...       ...       ...    ...  ...     ...      ...
719              Diancie      Rock     Fairy    600   50     100      150
719  DiancieMega Diancie      Rock     Fairy    700   50     160      110
720  HoopaHoopa Confined   Psychic     Ghost    600   80     110       60
720   HoopaHoopa Unbound   Psychic      Dark    680   80     160       60
721            Volcanion      Fire     Water    600   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
#
144       95      125     85           1       True
145      125       90    100           1       True
146      125       85     90           1       True
150      154       90    130           1       True
150      154      100    130           1       True
..       ...      ...    ...         ...        ...
719      100      150     50           6       True
719      160      110    110           6       True
720      150      130     70           6       True
720      170      130     80           6       True
721      130       90     70           6       True

[65 rows x 12 columns]

In [41]:
#E quali sono i leggendari di tipo 1 Grass? 
leggendari_grass = leggendari[leggendari['Type 1'] == 'Grass']
print("\nPokémon leggendari di tipo 1 Grass:")
print(leggendari_grass)

Pokémon leggendari di tipo 1 Grass:
                  Name Type 1    Type 2  Total   HP  Attack  Defense  Sp. Atk  \
#
492  ShayminLand Forme  Grass       NaN    600  100     100      100      100
492   ShayminSky Forme  Grass    Flying    600  100     103       75      120
640           Virizion  Grass  Fighting    580   91      90       72       90

     Sp. Def  Speed  Generation  Legendary
#
492      100    100           4       True
492       75    127           4       True
640      129    108           5       True

In [43]:
# E leggendari di tipo 1 Ice o Fire? 
leggendari_ice_fire = leggendari[(leggendari['Type 1'] == 'Ice') | (leggendari['Type 1'] == 'Fire')]
print("\nPokémon leggendari di tipo 1 Ice o Fire:")
print(leggendari_ice_fire)

Pokémon leggendari di tipo 1 Ice o Fire:
          Name Type 1  Type 2  Total   HP  Attack  Defense  Sp. Atk  Sp. Def  \
#
144   Articuno    Ice  Flying    580   90      85      100       95      125
146    Moltres   Fire  Flying    580   90     100       90      125       85
244      Entei   Fire     NaN    580  115     115       85       90       75
250      Ho-oh   Fire  Flying    680  106     130       90      110      154
378     Regice    Ice     NaN    580   80      50      100      100      200
485    Heatran   Fire   Steel    600   91      90      106      130      106
721  Volcanion   Fire   Water    600   80     110      120      130       90

     Speed  Generation  Legendary
#
144     85           1       True
146     90           1       True
244    100           2       True
250     90           2       True
378     50           3       True
485     77           4       True
721     70           6       True

In [49]:
# Ordiniamo il dataset per la colonna Name; 
tabella.sort_values(by='Name', inplace=True)
print("\nDataset ordinato per nome:")
print(tabella)

Dataset ordinato per nome:
                        Name   Type 1  Type 2  Total   HP  Attack  Defense  \
#
460                Abomasnow    Grass     Ice    494   90      92       75
460  AbomasnowMega Abomasnow    Grass     Ice    594   90     132      105
63                      Abra  Psychic     NaN    310   25      20       15
359                    Absol     Dark     NaN    465   65     130       60
359          AbsolMega Absol     Dark     NaN    565   65     150       60
..                       ...      ...     ...    ...  ...     ...      ...
571                  Zoroark     Dark     NaN    510   60     105       60
570                    Zorua     Dark     NaN    330   40      65       40
41                     Zubat   Poison  Flying    245   40      45       35
634                 Zweilous     Dark  Dragon    420   72      85       70
718         Zygarde50% Forme   Dragon  Ground    600  108     100      121

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
#
460       92       85     60           4      False
460      132      105     30           4      False
63       105       55     90           1      False
359       75       60     75           3      False
359      115       60    115           3      False
..       ...      ...    ...         ...        ...
571      120       60    105           5      False
570       80       40     65           5      False
41        30       40     55           1      False
634       65       70     58           5      False
718       81       95     95           6       True

[800 rows x 12 columns]

In [51]:
# Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
pokemon_generazione1 = tabella[(tabella['Generation'] == 1) & (tabella['Attack'] > 50) & (tabella['HP'] < 60)]
print("\nPokémon della prima generazione con attacco > 50 e HP < 60:")
print(pokemon_generazione1)

Pokémon della prima generazione con attacco > 50 e HP < 60:
           Name    Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
#
69   Bellsprout     Grass  Poison    300  50      75       35       70
4    Charmander      Fire     NaN    309  39      52       43       60
5    Charmeleon      Fire     NaN    405  58      64       58       80
91     Cloyster     Water     Ice    525  50      95      180       85
50      Diglett    Ground     NaN    265  10      55       25       35
84        Doduo    Normal  Flying    310  35      85       45       35
147     Dratini    Dragon     NaN    300  41      64       45       50
51      Dugtrio    Ground     NaN    405  35      80       50       50
133       Eevee    Normal     NaN    325  55      55       50       45
23        Ekans    Poison     NaN    288  35      60       44       40
83   Farfetch'd    Normal  Flying    352  52      65       55       58
74      Geodude      Rock  Ground    300  40      80      100       30
118     Goldeen     Water     NaN    320  45      67       60       35
75     Graveler      Rock  Ground    390  55      95      115       45
58    Growlithe      Fire     NaN    350  55      70       45       70
107  Hitmonchan  Fighting     NaN    455  50     105       79       35
106   Hitmonlee  Fighting     NaN    455  50     120       53       35
140      Kabuto      Rock   Water    355  30      80       90       55
99      Kingler     Water     NaN    475  55     130      115       50
109     Koffing    Poison     NaN    340  40      65       95       60
98       Krabby     Water     NaN    325  30     105       90       25
82     Magneton  Electric   Steel    465  50      60       95      120
56       Mankey  Fighting     NaN    305  40      80       35       35
32     Nidoran♂    Poison     NaN    273  46      57       40       40
46        Paras       Bug   Grass    285  35      70       55       45
25      Pikachu  Electric     NaN    320  35      55       40       50
77       Ponyta      Fire     NaN    410  50      85       55       65
54      Psyduck     Water     NaN    320  50      52       48       65
20     Raticate    Normal     NaN    413  55      81       60       50
19      Rattata    Normal     NaN    253  30      56       35       25
27    Sandshrew    Ground     NaN    300  50      75       85       20
117      Seadra     Water     NaN    440  55      65       95       95
90     Shellder     Water     NaN    305  30      65      100       45
21      Spearow    Normal  Flying    262  40      60       30       31
8     Wartortle     Water     NaN    405  59      63       80       65

     Sp. Def  Speed  Generation  Legendary
#
69        30     40           1      False
4         50     65           1      False
5         65     80           1      False
91        45     70           1      False
50        45     95           1      False
84        35     75           1      False
147       50     50           1      False
51        70    120           1      False
133       65     55           1      False
23        54     55           1      False
83        62     60           1      False
74        30     20           1      False
118       50     63           1      False
75        45     35           1      False
58        50     60           1      False
107      110     76           1      False
106      110     87           1      False
140       45     55           1      False
99        50     75           1      False
109       45     35           1      False
98        25     50           1      False
82        70     70           1      False
56        45     70           1      False
32        40     50           1      False
46        55     25           1      False
25        50     90           1      False
77        65     90           1      False
54        50     55           1      False
20        70     97           1      False
19        35     72           1      False
27        30     40           1      False
117       45     85           1      False
90        25     40           1      False
21        31     70           1      False
8         80     58           1      False